<?php

// VATSIM Authentication Demo by Matt Binkowitz (liteborder/litebord/lightbord)
// Example Secrets definitions - change these to match yours and rename file to remove ".example"!

$client_id = 'YOUR_CLIENT_ID';
$secret = 'YOUR_SECRET';
$callback_url = 'YOUR_CALLBACK_URL';

?>